
# Ignorar todos os arquivos .class
*.class

# Ignorar a pasta build/ onde os arquivos .class estão armazenados
/build/












































/dist/
build/classes/com/leilao/telas/cadastroVIEW$4.class


























































































































 






















